h1 {
  font-family: 'Montserrat';
  font-size: 48px;
  text-align: center;
  padding-top: 0.5em;
  background-color: blueviolet;
  color: white;
  border-radius: 20px;
  box-shadow: 2px solid black;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
}

.image-container {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 80vw;
  max-width: 800px;
}

img {
  width: 300px;
  height: auto;
  margin: 10px 10px;
}
