

.login-container {
    /*background-image: url('../assets/background3.png');*/
    background-color: black;
    background-size: cover; /* Adjust the size as needed */
    background-position: center center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image repetition */
}

.overall-container {
    background:black;
    margin-bottom: 0;
}

.intro-container {
    height:'100dvh';
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
    max-width: 100%;
}

.carousel-container {
    max-width: 75%;
    font-size: 2rem;
    align-items: center;
    margin-top: 0;
    padding-top:0;
    display: grid;
    grid-template-rows: auto, auto;
    text-align: center;
    background: linear-gradient(90deg, rgba(235,235,244,1) 0%, rgba(115,219,241,1) 0%, rgba(240,92,255,1) 100%);
    -webkit-background-clip: text;
    color: transparent;
    margin: auto;
}

.feature {
    font-size: 2rem;
    padding-top: 20px;
    background: linear-gradient(90deg, rgba(235,235,244,1) 0%, rgba(115,219,241,1) 0%, rgba(240,92,255,1) 100%);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    margin-bottom: 0;
}

.introduction {
    color: black;
    font-size: 5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: '100dvw';
    white-space: nowrap;
    overflow: hidden;
    animation-name: slide-up, typing;
    animation-duration: 2s, 3s;
    animation-delay: 3s, 0s;
    animation-iteration-count: 1, 1;
    animation-fill-mode: forwards;
    background: linear-gradient(90deg, rgba(235,235,244,1) 0%, rgba(240,92,255,1) 0%, rgba(115,219,241,1) 97%);

    -webkit-background-clip: text; /* Clip text to the background */
    color: transparent; /* Make text transparent */
}

.intro-container p {
    font-size: 2rem;
    animation-name: slide-down;
    font-weight: bold;
    animation-duration: 2s;
    animation-delay: 4.5s;
    opacity: 0;
    animation-fill-mode: forwards;
    background: linear-gradient(90deg, rgba(235,235,244,1) 0%, rgba(115,219,241,1) 0%, rgba(240,92,255,1) 100%);
    -webkit-background-clip: text;
    color: transparent

}

.spotify-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 5.5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    color: black;
}

#login-button {
    padding: 30px;
    color: black;
}

.slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.image {
    width: 1000px;
    height: 600px;
    border-radius: 10px;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 60px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 57%;
    }
}

@keyframes slide-up {
    to {
        transform: translateY(-100%);
        opacity: 1;
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-300%); /* Start off-screen */
    }
    100% {
        transform: translateY(-100%); /* Slide down to 0% */
        opacity: 1
    }
}

/* Blinking cursor keyframes */
@keyframes blink-cursor {
    50% {
        border-right-color: transparent;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1; /* Fade in to become fully visible */
    }
}

