.login-container {
    background-image: url('../assets/background3.png');
    background-color: rgba(255, 255, 255, 0.02);
    background-size: cover; /* Adjust the size as needed */
    background-position: center center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image repetition */
}

.intro-container {
    height:'100dvh';
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
    color: white;
    
}

.introduction {
    font-size: 5rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    animation-name: slide-up, typing;
    animation-duration: 2s, 3s;
    animation-delay: 3s, 0s;
    animation-iteration-count: 1, 1;
    animation-fill-mode: forwards;
    text-shadow: 0 0 30px #f06, 0 0 30px #f06, 0 0 30px #f06;
}

.intro-container p {
    font-size: 2rem;
    animation-name: slide-down;
    animation-duration: 2s;
    animation-delay: 4.5s;
    opacity: 0;
    animation-fill-mode: forwards;
    text-shadow: 0 0 30px rgb(255, 109, 168), 0 0 30px rgb(255, 109, 168), 0 0 30px rgb(255, 109, 168);

}

.spotify-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 5.5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#login-button {
    padding: 30px;

}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 57%;
    }
}

@keyframes slide-up {
    to {
        transform: translateY(-100%);
        opacity: 1;
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-300%); /* Start off-screen */
    }
    100% {
        transform: translateY(-100%); /* Slide down to 0% */
        opacity: 1
    }
}

/* Blinking cursor keyframes */
@keyframes blink-cursor {
    50% {
        border-right-color: transparent;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1; /* Fade in to become fully visible */
    }
}

